.cal{
    width: 400px;
    height: 600px;
    margin-left: 400px;
    background: rgb(189, 17, 17);
}

#screen{
    width: 80%;
    margin-left: 36px;
    margin-top: 30px;
    height: 70px;
    pointer-events: none;
}

.btn{
    width: 70px;
    height: 45px;
    margin-left: 20px;
    margin-top: 50px;
}